// VARIABLES

@use "variables" as v;

footer {
  background-color: v.$color-rojo;
  height: 7vh;
  @include v.flex-between-center;

  h3 {
    @include v.text-bold-white(15px);
  }

  .img {
    height: 40px;
  }

  // Tablet

  @include v.tablet {
    height: 8vh;

    h3 {
      font-size: 13px;
    }
  }
}

.rrss {
  display: flex;
  justify-content: end;
}

@include v.tablet {
  .img {
    height: 20px;
  }
}
