// VARIABLES
@use "variables" as v;

// HEADER

header {
  background-color: v.$color-rojo;
  height: 15vh;
  @include v.flex();

  h1 {
    @include v.texto-bold(38px);
    margin-top: 2vh;
  }

  ul {
    display: flex;
  }

  .logo {
    margin-top: 2vh;
    height: 10vh;
    width: auto;
  }

  .nav-item {
    background-color:white;
    height: 40px;
    width: 110px;
    font-size: 18px;
    list-style: none;
    border: 5px solid v.$color-naranjo;
    border-radius: 50px;
  }

  .nav-link {
    color: v.$color-naranjo;
    font-weight: bold;
    padding: 2px 20px;
  }

  // TABLET

  @include v.tablet {
    height: auto;
    h1 {
      @include v.texto-bold(38px);
    }
    .nav-item{
      font-size: 17px;
      border: 3px solid v.$color-naranjo;
      border-radius: 20px;
      margin-top: 1vh;
    }
    .nav-link {
      padding: 0 5px 0 15px;
    }
  }
}

// NAVBAR COMPONENTES

.container-fluid {
    @include v.tablet {
      height: auto;
      width: 60px;
    }
}

.navbar-toggler {
  @include v.tablet{
    margin-bottom: 1.5vh;
  }
}

