// VARIABLES

@use "variables" as v;

main {
  display: flex;
  flex-flow: column;
  margin-top: 3vh;
  margin-bottom: 3vh;

  h5 {
    color: v.$color-blanco;
    font-weight: bold;
    background-color: v.$color-naranjo;
    justify-content: center;
    justify-items: center;
    width: auto;
    font-size: 28px;
  }

  p {
    color: v.$color-blanco;
    background-color: v.$color-rojo;
    font-size: 20px;
  }

  @include v.tablet {
    h5 {
      @include v.texto-bold(30px);
    }
    p {
     @include v.texto-bold(20x);
    }
  }
}

.imagen-carrusel{
    display: flex;
    flex-flow: column;
    height: 71vh;
    width: 60vw;
    justify-content: center;
    justify-self: center;
    margin-top: 1vh;

    animation: animate__flipInY;
    animation-duration: 2s;
    

}

// TITULOS

.h2-1, .h2-2 {
  justify-self: center;
  align-self: center;
}

.h2-1 {
  color: v.$color-naranjo;
  font-size: 33px;
  font-weight: bolder;
  margin-top: 2vh;
  padding: 0 20px;
  
  @include v.tablet {
    font-size: 33px;
    margin-top: 2vh;
  }
}

.h2-2 {
  color: v.$color-rojo;
  font-size: 28px;
  margin-bottom: 3vh;
  margin-top: 3vh;
  @include v.tablet {
    font-size: 28px;
  }
}



