// VARIABLES
$font: 'Open Sans', sans-serif;
$font-family: 'Open Sans', sans-serif;
$color-rojo: #ff0026;
$color-naranja: #ff6a03;
$color-amarillo: #ffb600;
$color-blanco: white;
$color-borde: orange;


$mq-mobile: 375px;
$mq-tablet: 990px;

@mixin mobile {
  @media (max-width: $mw-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $mw-tablet) {
    @content;
  }

}
// IMPORT
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// RESET
* {
  margin: 0;
  padding: 0;
  font-family: $font;
}

.boton{
    display: flex;
    justify-self: center;
    color: $color-blanco;
    font-weight: bold;
    background-color: $color-rojo;
    height: 30px;
    width: 150px;
    font-size: 15px;
    padding: 0 45px;
    border: 3px solid $color-borde;
    border-radius: 50px;
    margin-top: 1vh;

}

.boton-sus{
    @extend .boton;
    align-self: center;
    padding: 0 30px;
    margin-top: 0vh;
}

.boton-formulario{
    @extend .boton;
}

.imagen-carrusel{
    display: flex;
    flex-flow: column;
    height: 75vh;
    width: 60vw;
    justify-content: center;
    justify-self: center;

    @include mobile {
      height: 40vh;
      width: 100vw;
    }
}

.imagen-carrusel-2{
    @extend .imagen-carrusel;
    width: auto;
    @include mobile{
      h5{
        font-size: 15px; 
        display: block;
      }
      p{
        font-size: 10px; 
        display: block;
      }
    } 
    @include tablet{
      h5{
        font-size: 20px; 
      }
      p{
        font-size: 15px; 
      }
    }
}
