// VARIABLES
$font: 'Open Sans', sans-serif;
$font-family: 'Open Sans', sans-serif;
$color-rojo: #ff0026;
$color-naranjo: #ff6a03;
$color-amarillo: #ffb600;
$color-blanco: white;
$color-texto: white;

$mw-mobile: 390px;
$mw-tablet: 990px;

// MIXINS

@mixin flex($justify: space-between, $align: center, $direction: row wrap) {
  display: flex;
  flex-flow: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin texto-bold($size, $color: $color-texto) {
  color: $color;
  font-size: $size;
  font-weight: bold;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin text-bold-white($size) {
  color: $color-blanco;
  font-size: $size;
  font-weight: bold;
}

@mixin mobile {
  @media (max-width: $mw-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $mw-tablet) {
    @content;
  }

}
// IMPORT
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// RESET
* {
  margin: 0;
  padding: 0;
  font-family: $font;
}
