@use "footer";
@use "main";
@use "variables";
@use "header";


// MIXINS //
@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 990px) {
    @content;
  }
}


.boton-formulario:hover{ /*falta en responsive*/
    animation: vibrate 0.5s infinite;
}

@keyframes vibrate{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(0);
    }

    75%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0);
    }
}

