@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

footer {
  background-color: #ff0026;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h3 {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
footer .img {
  height: 40px;
}
@media (max-width: 990px) {
  footer {
    height: 8vh;
  }
  footer h3 {
    font-size: 13px;
  }
}

.rrss {
  display: flex;
  justify-content: end;
}

@media (max-width: 990px) {
  .img {
    height: 20px;
  }
}
main {
  display: flex;
  flex-flow: column;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
main h5 {
  color: white;
  font-weight: bold;
  background-color: #ff6a03;
  justify-content: center;
  justify-items: center;
  width: auto;
  font-size: 28px;
}
main p {
  color: white;
  background-color: #ff0026;
  font-size: 20px;
}
@media (max-width: 990px) {
  main h5 {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  main p {
    color: white;
    font-size: 20x;
    font-weight: bold;
  }
}

.imagen-carrusel, .imagen-carrusel-2 {
  display: flex;
  flex-flow: column;
  height: 71vh;
  width: 60vw;
  justify-content: center;
  justify-self: center;
  margin-top: 1vh;
  animation: animate__flipInY;
  animation-duration: 2s;
}

.h2-1, main, .h2-2 {
  justify-self: center;
  align-self: center;
}

.h2-1, main {
  color: #ff6a03;
  font-size: 33px;
  font-weight: bolder;
  margin-top: 2vh;
  padding: 0 20px;
}
@media (max-width: 990px) {
  .h2-1, main {
    font-size: 33px;
    margin-top: 2vh;
  }
}

.h2-2 {
  color: #ff0026;
  font-size: 28px;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
@media (max-width: 990px) {
  .h2-2 {
    font-size: 28px;
  }
}

header {
  background-color: #ff0026;
  height: 15vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: white;
  font-size: 38px;
  font-weight: bold;
  margin-top: 2vh;
}
header ul {
  display: flex;
}
header .logo {
  margin-top: 2vh;
  height: 10vh;
  width: auto;
}
header .nav-item {
  background-color: white;
  height: 40px;
  width: 110px;
  font-size: 18px;
  list-style: none;
  border: 5px solid #ff6a03;
  border-radius: 50px;
}
header .nav-link {
  color: #ff6a03;
  font-weight: bold;
  padding: 2px 20px;
}
@media (max-width: 990px) {
  header {
    height: auto;
  }
  header h1 {
    color: white;
    font-size: 38px;
    font-weight: bold;
  }
  header .nav-item {
    font-size: 17px;
    border: 3px solid #ff6a03;
    border-radius: 20px;
    margin-top: 1vh;
  }
  header .nav-link {
    padding: 0 5px 0 15px;
  }
}

@media (max-width: 990px) {
  .container-fluid {
    height: auto;
    width: 60px;
  }
}

@media (max-width: 990px) {
  .navbar-toggler {
    margin-bottom: 1.5vh;
  }
}

main {
  margin-top: 5vh;
}
main h5 {
  color: white;
  font-weight: bold;
  background-color: #ff6a03;
  justify-content: center;
  justify-items: center;
  width: auto;
  font-size: 28px;
}
@media (max-width: 390px) {
  main {
    font-size: 20px;
    margin-top: 0;
  }
}

.marcas {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 990px) {
  .marcas {
    margin-bottom: 4vh;
  }
}

.imagen-marcas {
  height: auto;
  width: 20vw;
}
@media (max-width: 990px) {
  .imagen-marcas {
    height: 30vh;
    width: 30vw;
  }
}

.imagen-carrusel-2 {
  height: 65vh;
  width: auto;
}
@media (max-width: 990px) {
  .imagen-carrusel-2 h5 {
    font-size: 20px;
    padding: 0 50px;
  }
  .imagen-carrusel-2 p {
    font-size: 15px;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: black;
  font-weight: normal;
  border: 5px solid #ff6a03;
  width: 500px;
  justify-self: center;
  padding: 10px 20px;
}
@media (max-width: 990px) {
  .formulario {
    padding: 10px 0;
  }
}

.boton, .boton-sus, .boton-formulario {
  display: flex;
  justify-self: center;
  color: white;
  font-weight: bold;
  background-color: #ff0026;
  height: 30px;
  width: 150px;
  font-size: 15px;
  padding: 0 45px;
  border: 3px solid #ff6a03;
  border-radius: 50px;
  margin-top: 1vh;
}

.boton-formulario:hover {
  animation: vibrate 0.5s infinite;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.imagen-blog {
  margin-top: 2vh;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.entrada {
  height: 40vh;
  width: 25vw;
}

.boton-sus {
  align-self: center;
  padding: 0 30px;
  margin-top: 0vh;
}

.boton-sus:hover {
  animation: vibrate 0.5s infinite;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 390px) {
  header {
    justify-content: space-evenly;
    height: auto;
  }
  header h1 {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-top: 1vh;
    padding: 0px 15px;
  }
  header .logo {
    height: 9vh;
    width: auto;
  }
  header .nav-item {
    height: 30px;
    font-size: 14px;
    border: 2px solid #ff6a03;
    border-radius: 20px;
    margin-top: 0.5vh;
  }
  header .nav-link {
    padding: 0 10px;
  }
  .container-fluid {
    background-color: transparent;
    flex-direction: column;
    height: auto;
    width: 25px;
  }
  .collapse.navbar-collapse {
    height: auto;
    width: auto;
    background-color: transparent;
  }
  .navbar-toggler-icon {
    height: 20px;
    width: auto;
    padding-left: 20px;
  }
  main h5 {
    margin-top: 100vh;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  main p {
    color: white;
    font-size: 10px;
    font-weight: bold;
  }
  .imagen-carrusel {
    margin-top: 3vh;
    height: 40vh;
    width: 90vw;
  }
  .h2-1 {
    font-size: 24px;
    margin-top: 3vh;
    padding: 0 35px;
  }
  .h2-2 {
    font-size: 20px;
    padding: 0 35px;
    margin-top: 2vh;
  }
  .marcas {
    flex-direction: column;
    padding: 0 40px;
  }
  .imagen-marcas {
    height: auto;
    width: 75vw;
  }
  .imagen-carrusel-2 {
    height: 90vh;
  }
  .imagen-carrusel-2 h5 {
    font-size: 15px;
    display: block;
  }
  .imagen-carrusel-2 p {
    font-size: 10px;
    display: block;
  }
  .imagen-blog {
    flex-direction: column;
    padding: 0 25px;
  }
  .entrada {
    height: auto;
    width: 60vh;
  }
  .formulario {
    width: 300px;
    padding: 10px 0;
  }
  footer {
    height: 5vh;
  }
  footer h3 {
    font-size: 10px;
  }
  footer .img {
    height: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
