@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

footer{
    background-color: #ff0026;
    height: 7vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    h3{
        color: white;
        font-size: 15px;
        font-weight: bold;

    }

    .img{
        height: 40px;
    }

}

.rrss{
        display: flex;
        justify-content:end;
}

/* RESPONSIVE   MOBILE */

@media(max-width: 375px){
    footer{
        height: 5vh;
        h3{
            font-size: 10px;
        }

        .img{
            height: 25px;
        }
    }
}

/* RESPONSIVE   TABLET */

@media (max-width: 990px) {
    footer{
        height: 8vh;
        h3{
            font-size: 13px;
        }
    }

    .img{
        height: 20px;
    }
}