@use "header";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

header{
    background-color: #ff0026;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    height: 16vh;
    h1{
        color: white;
        font-size: 40px;
        font-weight: bold;
        margin-top: 4vh;
    }

    ul{
        display: flex;
    }

    .logo{
        margin-top: 5px;
        height: 10vh;
        width: auto;
    }

    .nav-item{
        background-color:white;
        height: 30px;
        width: 100px;
        font-size: 15px;
        list-style: none;
        border: 3px solid #ffb600;
        border-radius: 50px;
    }

    .nav-link{
        color: #ff6a03;
        font-weight: bold;
        padding: 0px 20px;
    }

}

/* barra de navegación */

.container-fluid{
    background-color:#ff0026;
    height: 14vh;
}

main{
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    margin-bottom: 20px;
    h5{
        color: white;
        font-weight: bold;
        background-color:#ff6a03;
        justify-content: center;
        justify-items: center;
        width: auto;
        font-size:25px;
    }
    p{
      color: white;
      background-color:#ff0026;
      font-size: 20px;
    }
}


.imagen-carrusel{
    display: flex;
    flex-flow: column;
    height: 75vh;
    width: 60vw;
    justify-content: center;
    justify-self: center;

}


.h2-1{
    color: #ff6a03;
    font-size: 35px;
    font-weight: bolder;
    justify-self: center;
    align-self: center;
    margin-top: 3vh;
}

.h2-2{
    color: #ff0026;
    font-size: 30px;
    justify-self: center;
    margin-bottom: 3vh;
    align-self: center;
}

footer{
    background-color: #ff0026;
    height: 7vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    h3{
        color: white;
        font-size: 15px;
        font-weight: bold;

    }

    .img{
        height: 40px;
    }

}

.rrss{
        display: flex;
        justify-content:end;
}

/*PAGINA MARCAS*/

.marcas{
    margin-top: 20 px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

.imagen-marcas{
    height: auto;
    width: 20vw;
}

/*PAGINA PREUNIC*/

.imagen-carrusel-2{
    display: flex;
    flex-flow: column;
    height: 75vh;
    width: auto;
    justify-content: center;
    justify-self: center;
}

/* PAGINA BLOG */

.imagen-blog{
    margin-top: 7vh;
    margin-bottom: 7vh;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entrada{
    height: 30vh;
    width: 25vw;
}

.boton-sus{
    color: white;
    font-weight:bold;
    background-color:#ff0026;
    height: 30px;
    width: 150px;
    font-size: 15px;
    padding: 0px 30px;
    border: 3px solid orange;
    border-radius: 50px;
    display: flex;
    align-self: center;
    margin-bottom: 3vh;
}


/* PAGINA CONTACTO */

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid orange;
    width: 500px;
    justify-self: center;
}

.boton-formulario{
    display: flex;
    justify-self: center;
    color: white;
    font-weight:bold;
    background-color:#ff0026;
    height: 30px;
    width: 100px;
    font-size: 15px;
    padding: 0px 25px;
    border: 3px solid orange;
    border-radius: 50px;
    margin-top: 1vh;
}

.boton-formulario:hover{
    animation: vibrate 0.5s infinite;
}

@keyframes vibrate{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(0);
    }

    75%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0);
    }
}




/* RESPONSIVE */

@media(max-width: 375px){
    /* INDEX */
    header{
        justify-content: space-evenly;
        h1{
            font-size: 17px;
            font-weight: bold;
            margin-top: 1vh;
        }

        .logo{
            height: 7vh;
            width: auto;
        }

        height: auto;
        margin-bottom: 22vh;
    }

    .container-fluid{
        height: 30px;
    }

    .navbar-toggler{
        height: 30px;
        width: 30px;
    } 

  
    .imagen-carrusel{
        height: 40vh;
        width: 100vw;
    }

    main{ /*no se ve esto*/
        h5{
            font-size:15px;
        }

        p{
            font-size: 10px;
        }
    }

    footer{
        height: 5vh;
        h3{
            font-size: 10px;
        }

        .img{
            height: 25px;
        }
    }

    /* MARCAS */

    .h2-1{
        font-size: 25px;
        font-weight: bolder;
        margin-top: 0vh;
    }

    .h2-2{
        font-size: 20px;
        margin-bottom: 5vh;
    }

    .marcas{
        margin-bottom: 15px;
        gap: 10px;

    }

    .imagen-marcas{
        height: 30vh;
        width: 60vw;
    }


    /* BLOG */

    .imagen-blog{
        flex-direction: column;
        margin-bottom: 7vh;
        gap: 10px;
    }

    /* CONTACTO */


    .formulario{
        width: 300px;
        padding: 10px 0px;
    }

    .boton-formulario{
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

}


@media (max-width: 990px) {
    Header{
        h1{
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 3vh;

        }

    }

   
    main{
        h5{
            font-size:20px;
        }

        p{
            font-size: 15px;
        }
    }

    footer{
        height: 8vh;
        h3{
            font-size: 13px;
        }
    }

    .img{
        height: 20px;
    }

    /*MARCAS*/

    h2-1{
        font-size: 33px;
        font-weight: bolder;
        margin-top: 0vh;
    }

    .h2-2{
        font-size: 28px;
        margin-bottom: 3vh;
    }


    .marcas{
        margin-bottom: 10vh;
        gap: 15px;

    }

    .imagen-marcas{
        height: 30vh;
        width: 30vw;
    }

    /*BLOG*/

    .imagen-blog{
        margin-bottom: 7vh;
        gap: 5px;
    }


    /* CONTACTO */

    .formulario{
        padding: 10px 0px;
    }

}
