@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

header{
    background-color: #ff0026;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    h1{ 
        color: white;
        font-size: 40px;
        font-weight: bold;
        margin-top: 3vh;
    }

    ul{
        display: flex;
    }

    .logo{
        height: 10vh;
        width: auto;
    }

    .nav-item{
        background-color:white;
        height: 30px;
        width: 100px;
        font-size: 15px;
        list-style: none;
        border: 3px solid #ffb600;
        border-radius: 50px;
        margin-top: 10px;
    }

    .nav-link{
        color: #ff6a03;
        font-weight: bold;
        padding: 0px 20px;
    }
    
}

/* barra de navegación */
.navbar navbar-expand-lg bg-body-tertiary{
    background-color:#ff0026;
    height: 10vh;
    width: auto;
}

.container-fluid{ 
    background-color:#ff0026;
    height: 10vh;
    width: auto;
    
}

main{
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    margin-bottom: 20px;
    h5{
        color: white;
        font-weight: bold;
        background-color:#ff6a03;
    }
    p{
      color: white;
      background-color:#ff0026;
    }
}


.imagen-carrusel{
    display: flex;
    flex-flow: column;
    height: 75vh;
    width: auto;
    justify-content: center;
    justify-self: center;
}

footer{
    background-color: #ff0026;
    height: 7vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    h3{
        color: white;
        font-size: 15px;
        font-weight: bold;

    }

    .img{
        height: 40px;
    }

}

.rrss{
        display: flex;
        justify-content:end;
}

.h2-1{
    color: #ff6a03;
    font-size: 35px;
    font-weight: bolder;
    justify-self: center;  
    align-self: center;
    margin-top: 3vh;      
}

.h2-2{
    color: #ff0026;
    font-size: 30px;
    justify-self: center;  
    margin-bottom: 3vh; 
    align-self: center;    
}

/*PAGINA MARCAS*/

.marcas{
    margin-top: 20 px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
   
}

.imagen-marcas{
    height: auto;
    width: 50vh;
}


/* PAGINA BLOG */

.imagen-blog{
    margin-top: 7vh;
    margin-bottom: 7vh;
    gap: 15px;
    height: 50vh;
    width: 30vh;
    display: flex; /*no puedo hacer que quede centrado*/
    justify-content: space-around;
  
}

.boton-sus{
    color: white;
    font-weight:bold;
    background-color:#ff0026;
    height: 30px;
    width: 150px;
    font-size: 15px;
    padding: 0px 30px;
    border: 3px solid orange;
    border-radius: 50px;
    display: flex;
    align-self: center;
    margin-bottom: 3vh;
}


/* PAGINA CONTACTO */

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid orange;
    width: 500px;
    justify-self: center;
}

.boton-formulario{
    display: flex;
    justify-self: center;
    color: white;
    font-weight:bold;
    background-color:#ff0026;
    height: 30px;
    width: 150px;
    font-size: 15px;
    padding: 0px 45px;
    border: 3px solid orange;
    border-radius: 50px;
    margin-top: 1vh;
     
}

